/* CSS file */
@namespace "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace ns1 "net.ximpel.components.*";

mx|Application {
   /*backgroundColor: #FaF01F;
   backgroundAlpha: 0;
   themeColor: #777777;*/
	backgroundColor: #AEAEAE;
}
.EditorToolPanel{
	backgroundColor: #eeeeee;
	cornerRadius: 12;
	borderColor: #f1c036;
	cornerRadius: 7;
	borderThickness: 2;
	borderStyle :solid;
	fontSize:10;
}
.EditorToolPanelHidden{
	backgroundColor: #eeeeee;
	cornerRadius: 0;
	borderThickness: 0;
	borderStyle :none;
	borderColor: #f1c036;;
	fontSize:10;
}
ns1|ClipPlayer{
	backgroundColor: #eeeeee;
	cornerRadius: 12;
	borderColor: #f1c036;
	cornerRadius: 7;
	/*borderThickness: 2;*/
	borderStyle :solid;
	fontSize:10;
}

mx|Alert{
	backgroundColor: #666666;
	borderColor: #f1c036;
	border-style:solid;
}

.TextFormBox{
 	paddingLeft: 5px; 
 	paddingTop: 5px;
 	paddingRight: 5px; 
 	paddingBottom: 5px;
 	
}
.TimeSlider {
   labelOffset: -10;
   tickOffset: 2;
   tickLength: 4;
   tickThickness: 2;
   showTrackHighlight: true;
   invertThumbDirection: true;
}
.SliderLabel{
	width:200;
	fontSize: 12;
}

.labelStyle{
	fontSize:14;
}